<!DOCTYPE html>
<html ng-app="stckTest">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h3> This is a stack Test </h3>
<div ng-controller="stackController">
Value : <input type="text" ng-model="pushvalue"/>
    <br/>
    <button ng-click="add()"> PUSH </button>
    <button ng-click="remove()"> POP </button>
    <h4>{{printStack}}</h4>
    
    </div>

<script>
var app = angular.module('stckTest', []);
app.controller('stackController',function($scope, stackService )
              {
    $scope.printStack = 'Stack Trace';
    
    $scope.add = function(){
        stackService.pushToStack($scope.pushvalue);
    };
    $scope.remove = function(){
          stackService.popFromStack();
    };
    
});

app.service('stackService',function($http){
    this.pushToStack = function(pushvalue){
       /* $http({
            method : 'POST',
            url : 'StackServelet',
            params : {
                operation : 'PUSH',
                oprvalue : pushvalue
            }
        }).success(function(data){
            alert(data);
        }); */
        alert("PUSH"+pushvalue);
    }
    
        this.popFromStack = function(){
       /*  $http({
            method : 'POST',
            url : 'StackServelet',
            params : {
                operation : 'POP'
            }
        }).success(function(data){
            alert(data);
        }); */
            alert("POP");
    }
    
});
</script>



</body>
</html>

